<template>
  <a-breadcrumb :style="{ margin: '16px 0' }">
    <a-breadcrumb-item>Inicio</a-breadcrumb-item>
    <a-breadcrumb-item>Puertos Marítimos</a-breadcrumb-item>
  </a-breadcrumb>
  <div :style="{ background: '#fff', padding: '24px', minHeight: '380px' }">
    <a-space style="margin-bottom: 16px">
      <!-- FILTRO DE PUERTOS POR NOMBRES -->
      <a-input-search
        @search="filterName"
        allowClear
        placeholder="Buscar por nombre"
      />
      <!-- FILTRO DE PUERTOS POR PAIS -->
      <a-select
        @change="filterCountry"
        placeholder=" Selecciona un país"
        allowClear
        style="width: 200px"
      >
        <a-select-option disabled value> Selecciona un país </a-select-option>

        <a-select-option v-for="item in country" :key="item" :value="item">{{
          item
        }}</a-select-option>
      </a-select>
      <!-- FILTRO DE PUERTOS POR CONTINENTES -->
      <a-select
        @change="filterContinent"
        placeholder=" Selecciona un continente"
        allowClear
        style="width: 200px"
      >
        <a-select-option disabled value>
          Selecciona un continente
        </a-select-option>

        <a-select-option
          v-for="item in continent"
          :key="item.id"
          :value="item.id"
          >{{ item.name }}</a-select-option
        >
      </a-select>
    </a-space>
    <!-- TABLA DE DATOS -->
    <a-table
      bordered
      :rowKey="(record) => record.id"
      class="table-data-view table-responsive"
      :loading="loading"
      :columns="columns"
      :data-source="ports"
      :pagination="{
        defaultPageSize: meta.per_page,
        total: meta.total,
        current: meta.current_page,
      }"
      @change="onChange"
    >
    </a-table>
  </div>
</template>
<script>
import {
  computed,
  defineComponent,
  onMounted,
  reactive,
  toRefs,
  ref,
} from "vue";
import { useStore } from "vuex";
// INPORTANDO CONTINENTES CON SUS NOMBRE Y ABREBIATURAS
import { CONTINENT } from "@/constants/dataAll";

export default defineComponent({
  setup() {
    const { getters, dispatch } = useStore();
    const loading = ref(false);
    let filters = ref({
      continent: "",
      country: "",
      name: "",
    });

    // DECLARANDO LAS VARIABLES CON LAS CUALES ESTAREMOS TRABAJANDO
    const colum = reactive({
      columns: [
        {
          title: "Nombre",
          dataIndex: "name",
        },
        {
          title: "País",
          dataIndex: "country",
        },
        {
          title: "Continente",
          dataIndex: "continent",
        },
        {
          title: "Coordenadas",
          dataIndex: "coordinates",
        },
      ],
    });
    // FUNCION PARA CONSULTAR TODOS LOS PUERTOS
    const getPorts = async (page) => {
      loading.value = true;
      await dispatch("list", { page: page.current, filters: filters.value });
      loading.value = false;
    };
    // FUNCION PARA REALIZAR EL CAMBIO DE PAGINA
    const onChange = async (page) => {
      getPorts(page);
    };
    // FUNCION DE FILTRO POR PAIS
    const filterCountry = (country) => {
      filters.value.country = country;
      getPorts({ page: meta.value.current_page });
    };
    // FUNCION DE FILTRO POR NOMBRE
    const filterName = (name) => {
      filters.value.name = name;
      getPorts({ page: meta.value.current_page });
    };
    // FUNCION DE FILTRO POR CONTINENTE
    const filterContinent = (continent) => {
      filters.value.continent = continent;
      getPorts({ page: meta.value.current_page });
    };
    // ASIGNANDO DATOS DE CONTINENTES
    const continent = CONTINENT;

    // LLAMANDO LA FUNCION PARA LISTAR PUERTOS UNA VEZ CARGADO EL DOM
    onMounted(() => {
      getPorts({ page: 1 });
    });

    // ASIGNANDO VAAORES DE PUERTOS Y DATOS DE PAGINADO
    const ports = computed(() => getters["ports"]);
    const meta = computed(() => getters["meta"]);
    // ASIGNANDO DATOS DE PAISES ORDENADOS ALFABETICAMENTE
    const country = computed(() => {
      return new Set(
        ports.value.map((item) => item.country).sort((a, b) => (a > b ? 1 : -1))
      );
    });

    return {
      ...toRefs(colum),
      getPorts,
      ports,
      loading,
      onChange,
      meta,
      continent,
      country,
      filterContinent,
      filterCountry,
      filterName,
      filters,
    };
  },
});
</script>