<template>
<!-- IMPORTACION DE LA APLICACION BASE Y ESTABLECIENDO EL IDIOMA POR DEFECTO EN ESPAÑOL -->
  <a-locale-provider :locale="es_ES">
    <app-layout />
  </a-locale-provider>
</template>

<script>
import es_ES from "ant-design-vue/lib/locale-provider/es_ES";
import AppLayout from "./layouts/appLayout.vue";

export default {
  name: "app",
  data() {
    return {
      es_ES,
    };
  },
  components: {
    AppLayout,
  },
};
</script>