<template>
<!-- TEMPLATE BASE DE LA APLICACION -->
  <a-layout id="components-layout">
    <a-layout-header :style="{ position: 'fixed', zIndex: 1, width: '100%' }">
      <div class="logo"></div>
      <a-menu
        theme="dark"
        mode="horizontal"
        :default-selected-keys="['1']"
        :style="{ lineHeight: '64px' }"
      >
        <a-menu-item key="1"> Inicio </a-menu-item>
      </a-menu>
    </a-layout-header>
    <a-layout-content :style="{ padding: '0 50px', marginTop: '64px' }">
      <home-descktop />
    </a-layout-content>
    <a-layout-footer :style="{ textAlign: 'center' }">
      JoseRojas ©2022 Creado por Ing. jose rojas para Cargofive 
    </a-layout-footer>
  </a-layout>
</template>
<script>
import { defineComponent } from "vue";
import HomeDescktop from "../components/HomeDescktop.vue";
export default defineComponent({
  components: {
    HomeDescktop,
  },
});
</script>
<style>
#components-layout .logo {
  width: 150px;
  height: 31px;
  background: url('../assets/logo.svg') no-repeat 0 0; background-size: cover;
  margin: 16px 24px 16px 0;
  float: left;
  filter: invert(100%) sepia(100%) saturate(50%);
}
</style>